<article class="video-item col-lg-4">
  <header style="background-image:url('{{ node.field_thumbnail_url.value }}')">
    <div class="date">{{ node.field_published.value }}</div>
    <h1>
      <a href="{{ url }}" rel="bookmark">{{ node.title.value }}</a>
    </h1>
  </header>
  <div class="content">
    {{ node.body.value }}
    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_city.target_id }) }}">{{ node.field_city.entity.name.value }}</a>
  </div>
</article>
