{% if is_front %}
<article class="video-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <header style="background-image:url('{{ node.field_thumbnail_url.value }}')">
    <div class="date">
      {{ node.field_published.value|date('d') }}<br />
      {{ node.field_published.value|date('m') }}<br />
      {{ node.field_published.value|date('y') }}
    </div>
    <div class="header-item-top">
    </div>
    <div class="header-item">
      <h1>
        <a href="{{ url }}" rel="bookmark">{{ node.title.value }}</a>
      </h1>
    </div>
    <div class="header-item-bottom"></div>
  </header>
  <div class="content">
    <div class="channel">
      <a href="">{{ node.field_channel.value }}</a>
    </div>
    <div class="city">
      <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_city.target_id }) }}">{{ node.field_city.entity.name.value }}</a>
    </div>
    <div class="description">{{ node.body.value }}</div>
  </div>
</article>
{% else %}
  <iframe width="100%" height="515" src="https://www.youtube.com/embed/{{ node.field_video_id.value }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h1>{{ node.title.value }}</h1>
  <div class="description">
    {{ node.body.value }}
  </div>
{% endif %}
